@model InLine.UI.Web.T4.FormFormattedTemplate.View.UgovorStanOtkupMoratorijMjesecDetaljFormFormatted

 <style type="text/css">
.text-box[type=text], .text-box[type=number], .text-box[type=date] { width:100px; border:"0";}
#trosak-detail #BrojUgovor, #trosak-detail #Datum{ font-weight:bold;}

</style>

 @{
    string prefixLabela = "labela_moratorijmjesec_";
 }

<table class ="UgovorStanOtkupTrosakDetail" width="100%" cellspacing="0" cellpadding="0" border="0" style="width:100%;">
   <tbody>

      <tr id="tr1">
	    <td style="background-color:#FFF2C2; font-weight:bold">@Html.LabelFor(model => model.BrojUgovor, new { id = @prefixLabela + @Html.NameFor(model => model.BrojUgovor) })</td>
        <td >@Html.EditorFor(model => model.BrojUgovor)</td>	
        <td style="background-color:#FFF2C2; font-weight:bold">@Html.LabelFor(model => model.BrojMoratorij, new { id = @prefixLabela + @Html.NameFor(model => model.BrojMoratorij) })</td>
        <td>@Html.EditorFor(model => model.BrojMoratorij)</td>								                
    </tr>

       
     <tr><td colspan='4'style="height:5px; background-color:#E7E7E7; padding-top: 2px; padding-bottom:2px; "></td></tr>
     
     <tr>
	    <td>@Html.LabelFor(model => model.Godina, new { id = @prefixLabela + @Html.NameFor(model => model.Godina) })</td>
        <td>@Html.EditorFor(model => model.Godina)</td>	
        <td>@Html.LabelFor(model => model.Mjesec, new { id = @prefixLabela + @Html.NameFor(model => model.Mjesec) })</td>
        <td>@Html.EditorFor(model => model.Mjesec)</td>								                
    </tr>

      <tr><td colspan='4'style="height:5px; background-color:#E7E7E7; padding-top: 2px; padding-bottom:2px; "></td></tr>

        <tr>
 	    <td>@Html.LabelFor(model => model.OsobaInsert, new { id = @prefixLabela + @Html.NameFor(model => model.OsobaInsert) })</td>
        <td>@Html.EditorFor(model => model.OsobaInsert)</td>
         <td>@Html.LabelFor(model => model.DatumInsert, new { id = @prefixLabela + @Html.NameFor(model => model.DatumInsert) })</td>
        <td>@Html.EditorFor(model => model.DatumInsert)</td>
      </tr>

     <tr>
        <td>@Html.LabelFor(model => model.OsobaUpdate, new { id = @prefixLabela + @Html.NameFor(model => model.OsobaUpdate) })</td>
        <td>@Html.EditorFor(model => model.OsobaUpdate)</td>
        <td>@Html.LabelFor(model => model.DatumUpdate, new { id = @prefixLabela + @Html.NameFor(model => model.DatumUpdate) })</td>
        <td>@Html.EditorFor(model => model.DatumUpdate)</td>            
    </tr>

    		
  </tbody>
</table>



    <script src="@Url.Content("~/Scripts/jquery.jqGrid.addons-4.4.1.js")" type="text/javascript"></script>
    <script type="text/javascript">

        $(function () {
            $("#labela_labela_moratorijmjesec_BrojUgovor").text("Broj ugovora:");
            $("#labela_labela_moratorijmjesec_BrojMoratorij").text("Broj moratorija:");
            $("#labela_labela_moratorijmjesec_Godina").text("Godina:");
            $("#labela_labela_moratorijmjesec_Mjesec").text("Mjesec");
            $("#labela_labela_moratorijmjesec_OsobaInsert").text("Kreirao");
            $("#labela_labela_moratorijmjesec_OsobaUpdate").text("Promijenio:");
            $("#labela_labela_moratorijmjesec_DatumInsert").text("Kreirano datum:");
            $("#labela_labela_moratorijmjesec_DatumUpdate").text("Promjena datuma:");
        });
   

    </script>
