@model InLine.UI.Web.T4.FormFormattedTemplate.View.UgovorStanOtkupObrokUplataDetaljFormFormatted

 <style type="text/css">
.text-box[type=text], .text-box[type=number], .text-box[type=date] { width:100px; border:"0";}
#obrok-uplata-detail #BrojUgovor, #obrok-uplata-detail #BrojObrok { font-weight:bold;}

</style>

 @{
    string prefixLabela = "labela_obrok_uplata_detalj_";
 }

<table class ="UgovorStanOtkupObrokUplataDetail form_background" width="100%" cellspacing="0" cellpadding="0" border="0" style="width:100%;">
   <tbody>

      <tr id="tr1">
	    <td style="background-color:#FFF2C2; font-weight:bold">@Html.LabelFor(model => model.BrojUgovor, new { id = @prefixLabela + @Html.NameFor(model => model.BrojUgovor) })</td>
        <td >@Html.EditorFor(model => model.BrojUgovor)</td>	
        <td style="background-color:#FFF2C2; font-weight:bold">@Html.LabelFor(model => model.BrojObrok, new { id = @prefixLabela + @Html.NameFor(model => model.BrojObrok) })</td>
        <td>@Html.EditorFor(model => model.BrojObrok)</td>								                
    </tr>

       
     <tr><td colspan='4'style="height:5px; background-color:#E7E7E7; padding-top: 2px; padding-bottom:2px; "></td></tr>


   <tr id="tr2">
	    <td>@Html.LabelFor(model => model.IznosJednokratno, new { id = @prefixLabela + @Html.NameFor(model => model.IznosJednokratno) })</td>
        <td>@Html.EditorFor(model => model.IznosJednokratno)</td>	
        <td>@Html.LabelFor(model => model.IznosUcesce, new { id = @prefixLabela + @Html.NameFor(model => model.IznosUcesce) })</td>
        <td>@Html.EditorFor(model => model.IznosUcesce)</td>								                
    </tr>
    

      <tr id="tr3">
	     <td>@Html.LabelFor(model => model.IznosKredit, new { id = @prefixLabela + @Html.NameFor(model => model.IznosKredit) })</td>
        <td>@Html.EditorFor(model => model.IznosKredit)</td>	
        <td>@Html.LabelFor(model => model.IznosKamata, new { id = @prefixLabela + @Html.NameFor(model => model.IznosKamata) })</td>
        <td>@Html.EditorFor(model => model.IznosKamata)</td>								                
    </tr>
    
       <tr id="tr4">
	    <td>@Html.LabelFor(model => model.IznosKreditRevalorizacija, new { id = @prefixLabela + @Html.NameFor(model => model.IznosKreditRevalorizacija) })</td>
        <td>@Html.EditorFor(model => model.IznosKreditRevalorizacija)</td>	
        <td>@Html.LabelFor(model => model.IznosKamataRevalorizacija, new { id = @prefixLabela + @Html.NameFor(model => model.IznosKamataRevalorizacija) })</td>
        <td>@Html.EditorFor(model => model.IznosKamataRevalorizacija)</td>								                
    </tr>
    
         <tr id="tr5">
	    <td>@Html.LabelFor(model => model.IznosKreditMoratorij, new { id = @prefixLabela + @Html.NameFor(model => model.IznosKreditMoratorij) })</td>
        <td>@Html.EditorFor(model => model.IznosKreditMoratorij)</td>	
        <td>@Html.LabelFor(model => model.IznosKamataMoratorij, new { id = @prefixLabela + @Html.NameFor(model => model.IznosKamataMoratorij) })</td>
        <td>@Html.EditorFor(model => model.IznosKamataMoratorij)</td>								                
    </tr>

       <tr id="tr6">
	    <td>@Html.LabelFor(model => model.IznosKreditMoratorijRevalorizacija, new { id = @prefixLabela + @Html.NameFor(model => model.IznosKreditMoratorijRevalorizacija) })</td>
        <td>@Html.EditorFor(model => model.IznosKreditMoratorijRevalorizacija)</td>	
        <td>@Html.LabelFor(model => model.IznosKamataMoratorijRevalorizacija, new { id = @prefixLabela + @Html.NameFor(model => model.IznosKamataMoratorijRevalorizacija) })</td>
        <td>@Html.EditorFor(model => model.IznosKamataMoratorijRevalorizacija)</td>								                
    </tr>

        
     <tr><td colspan='4'style="height:5px; background-color:#E7E7E7; padding-top: 2px; padding-bottom:2px; "></td></tr>


         <tr id="tr7">
	    <td>@Html.LabelFor(model => model.Datum, new { id = @prefixLabela + @Html.NameFor(model => model.Datum) })</td>
        <td>@Html.EditorFor(model => model.Datum)</td>	
        <td>@Html.LabelFor(model => model.ID_Racun, new { id = @prefixLabela + @Html.NameFor(model => model.ID_Racun) })</td>
        <td>@Html.EditorFor(model => model.ID_Racun)</td>								                
    </tr>
           <tr id="tr8">
	    <td>@Html.LabelFor(model => model.PlacanjeVrOznaka, new { id = @prefixLabela + @Html.NameFor(model => model.PlacanjeVrOznaka) })</td>
        <td>@Html.EditorFor(model => model.PlacanjeVrOznaka)</td>	
        <td>@Html.LabelFor(model => model.IDValuta, new { id = @prefixLabela + @Html.NameFor(model => model.IDValuta) + "1" })</td>
        <td>@Html.EditorFor(model => model.IDValuta)</td>								                
    </tr>

        <tr id="tr9">
	    <td>@Html.LabelFor(model => model.GodinaUplata, new { id = @prefixLabela + @Html.NameFor(model => model.GodinaUplata) })</td>
       <td>@Html.EditorFor(model => model.GodinaUplata)</td>
        <td>Broj Izvoda</td>
        <td>Broj Izvoda</td>			                
    </tr>

         <tr id="tr10">
	   <td>Broj stavke</td>
          <td>Broj stavke</td>
       	   <td>Broj uplate</td>
           <td>Broj uplate</td>	              
    </tr>

         <tr id="tr11">
	   <td>Obveznica</td>
       <td>Obveznica</td>
 	    <td>@Html.LabelFor(model => model.IznosTecajnaRazlika, new { id = @prefixLabela + @Html.NameFor(model => model.IznosTecajnaRazlika) })</td>
       <td>@Html.EditorFor(model => model.IznosTecajnaRazlika)</td>
       	              
    </tr>

            <tr id="tr12">
	   <td>Na obroku</td>
       <td>Na obroku</td>
 	    <td>@Html.LabelFor(model => model.IznosZateznaKamataUplata, new { id = @prefixLabela + @Html.NameFor(model => model.IznosZateznaKamataUplata) })</td>
       <td>@Html.EditorFor(model => model.IznosZateznaKamataUplata)</td>	              
    </tr>

              <tr id="tr13">
 	    <td>@Html.LabelFor(model => model.IznosValuta, new { id = @prefixLabela + @Html.NameFor(model => model.IznosValuta) })</td>
       <td>@Html.EditorFor(model => model.IznosValuta)</td>
        <td>@Html.LabelFor(model => model.IznosValutaUgovor, new { id = @prefixLabela + @Html.NameFor(model => model.IznosValutaUgovor) })</td>
       <td>@Html.EditorFor(model => model.IznosValutaUgovor)</td>	                  
    </tr>

          <tr id="tr14">
 	    <td>@Html.LabelFor(model => model.IznosZateznaKamataPrije, new { id = @prefixLabela + @Html.NameFor(model => model.IznosZateznaKamataPrije) })</td>
       <td>@Html.EditorFor(model => model.IznosZateznaKamataPrije)</td>
        <td>@Html.LabelFor(model => model.IDValuta, new { id = @prefixLabela + @Html.NameFor(model => model.IDValuta)+"2" })</td>
       <td>@Html.EditorFor(model => model.IDValuta)</td>	                  
    </tr>

     <tr><td colspan='4'style="height:5px; background-color:#E7E7E7; padding-top: 2px; padding-bottom:2px; "></td></tr>

          <tr id="tr15">
 	    <td>@Html.LabelFor(model => model.OsnovicaZateznaKamata, new { id = @prefixLabela + @Html.NameFor(model => model.OsnovicaZateznaKamata) })</td>
       <td>@Html.EditorFor(model => model.OsnovicaZateznaKamata)</td>
        <td>@Html.LabelFor(model => model.DatumZateznaKamata, new { id = @prefixLabela + @Html.NameFor(model => model.DatumZateznaKamata) })</td>
       <td>@Html.EditorFor(model => model.DatumZateznaKamata)</td>                  
    </tr>

           <tr id="tr16">
 	    <td>@Html.LabelFor(model => model.IznosZateznaKamata, new { id = @prefixLabela + @Html.NameFor(model => model.IznosZateznaKamata) })</td>
       <td>@Html.EditorFor(model => model.IznosZateznaKamata)</td> 
         <td></td>
         <td></td>    
                   
    </tr>

         <tr id="tr17">
 	    <td>@Html.LabelFor(model => model.IznosZateznaKamataDugOstatak, new { id = @prefixLabela + @Html.NameFor(model => model.IznosZateznaKamataDugOstatak) })</td>
       <td>@Html.EditorFor(model => model.IznosZateznaKamataDugOstatak)</td>
      <td>@Html.LabelFor(model => model.IznosObrokDugOstatak, new { id = @prefixLabela + @Html.NameFor(model => model.IznosObrokDugOstatak) })</td>
       <td>@Html.EditorFor(model => model.IznosObrokDugOstatak)</td>                     
    </tr>

       
     <tr><td colspan='4'style="height:5px; background-color:#E7E7E7; padding-top: 2px; padding-bottom:2px; "></td></tr>


       <tr id="tr18">
 	    <td>@Html.LabelFor(model => model.DokumentGrupa, new { id = @prefixLabela + @Html.NameFor(model => model.DokumentGrupa) })</td>
        <td>@Html.EditorFor(model => model.DokumentGrupa)</td>
         <td>@Html.LabelFor(model => model.DokumentVrsta, new { id = @prefixLabela + @Html.NameFor(model => model.DokumentVrsta) })</td>
        <td>@Html.EditorFor(model => model.DokumentVrsta)</td>                 
    </tr>

        <tr id="tr19">
 	    <td>@Html.LabelFor(model => model.OsobaInsert, new { id = @prefixLabela + @Html.NameFor(model => model.OsobaInsert) })</td>
        <td>@Html.EditorFor(model => model.OsobaInsert)</td>
         <td>@Html.LabelFor(model => model.DatumInsert, new { id = @prefixLabela + @Html.NameFor(model => model.DatumInsert) })</td>
        <td>@Html.EditorFor(model => model.DatumInsert)</td>
      </tr>

     <tr id="tr20">
        <td>@Html.LabelFor(model => model.OsobaUpdate, new { id = @prefixLabela + @Html.NameFor(model => model.OsobaUpdate) })</td>
        <td>@Html.EditorFor(model => model.OsobaUpdate)</td>
        <td>@Html.LabelFor(model => model.DatumUpdate, new { id = @prefixLabela + @Html.NameFor(model => model.DatumUpdate) })</td>
        <td>@Html.EditorFor(model => model.DatumUpdate)</td>            
    </tr>

      <tr id="tr21">
        <td>@Html.LabelFor(model => model.TemeljnicaGodina, new { id = @prefixLabela + @Html.NameFor(model => model.TemeljnicaGodina) })</td>
        <td>@Html.EditorFor(model => model.TemeljnicaGodina)</td>
         <td></td>
        <td></td>      
    </tr>

        <tr id="tr22">
        <td>@Html.LabelFor(model => model.TemeljnicaVrsta, new { id = @prefixLabela + @Html.NameFor(model => model.TemeljnicaVrsta) })</td>
        <td>@Html.EditorFor(model => model.TemeljnicaVrsta)</td>
        <td>@Html.LabelFor(model => model.TemeljnicaBroj, new { id = @prefixLabela + @Html.NameFor(model => model.TemeljnicaBroj) })</td>
        <td>@Html.EditorFor(model => model.TemeljnicaBroj)</td>             
    </tr>
    		
  </tbody>
</table>





    <script src="@Url.Content("~/Scripts/jquery.jqGrid.addons-4.4.1.js")" type="text/javascript"></script>
    <script type="text/javascript">

        $(function () {
            $("#labela_obrok_uplata_detalj_BrojUgovor").text("Ugovor");
            $("#labela_obrok_uplata_detalj_BrojObrok").text("Broj obroka");
            $("#labela_obrok_uplata_detalj_IznosJednokratno").text("Jednokratno");
            $("#labela_obrok_uplata_detalj_IznosUcesce").text("Učešće");
            $("#labela_obrok_uplata_detalj_IznosKredit").text("Rata po ugovoru");
            $("#labela_obrok_uplata_detalj_IznosKamata").text("Kamata po ugovoru");
            $("#labela_obrok_uplata_detalj_IznosKreditRevalorizacija").text("Revalor. rate");
            $("#labela_obrok_uplata_detalj_IznosKamataRevalorizacija").text("Revalor. kamate");
            $("#labela_obrok_uplata_detalj_IznosKreditMoratorij").text("Moratorij rate");
            $("#labela_obrok_uplata_detalj_IznosKamataMoratorij").text("Moratorij kamate");
            $("#labela_obrok_uplata_detalj_IznosKreditMoratorijRevalorizacija").text("Rev. morat. rate");
            $("#labela_obrok_uplata_detalj_IznosKamataMoratorijRevalorizacija").text("Rev. morat. kamate");
            $("#labela_obrok_uplata_detalj_Datum").text("Datum uplate");
            $("#labela_obrok_uplata_detalj_ID_Racun").text("Šifra računa");
            $("#labela_obrok_uplata_detalj_PlacanjeVrOznaka").text("Vrsta plaćanja");
            $("#labela_obrok_uplata_detalj_GodinaUplata").text("Godina");

            $("#labela_obrok_uplata_detalj_IDValuta1").text("Šifra valute");
            $("#labela_obrok_uplata_detalj_IznosTecajnaRazlika").text("Tečajna razlika");

            $("#labela_obrok_uplata_detalj_IznosZateznaKamataUplata").text("Zatezna kamata");
            $("#labela_obrok_uplata_detalj_IDValuta2").text("Šifra valute");

            $("#labela_obrok_uplata_detalj_IznosValuta").text("Iznos u val. plaćanja");
            $("#labela_obrok_uplata_detalj_IznosValutaUgovor").text("Iznos u val. ugovora");

            $("#labela_obrok_uplata_detalj_IznosZateznaKamataPrije").text("Iznos zatezna kamata");

            $("#labela_obrok_uplata_detalj_OsnovicaZateznaKamata").text("Osnovica ZK");
            $("#labela_obrok_uplata_detalj_DatumZateznaKamata").text("Od datuma");

            $("#labela_obrok_uplata_detalj_IznosZateznaKamata").text("Iznos ZK");

            $("#labela_obrok_uplata_detalj_IznosZateznaKamataDugOstatak").text("Ost.duga ZK");
            $("#labela_obrok_uplata_detalj_IznosObrokDugOstatak").text("Ost duga rate");

            $("#labela_obrok_uplata_detalj_DokumentGrupa").text("Grupa");
            $("#labela_obrok_uplata_detalj_DokumentVrsta").text("Vrsta");
            $("#labela_obrok_uplata_detalj_OsobaInsert").text("Kreirao");
            $("#labela_obrok_uplata_detalj_DatumInsert").text("Datum kreiranja");
            $("#labela_obrok_uplata_detalj_OsobaUpdate").text("Promijenio");
            $("#labela_obrok_uplata_detalj_DatumUpdate").text("Datum promijene");
            $("#labela_obrok_uplata_detalj_TemeljnicaGodina").text("Poslovna godina");
            $("#labela_obrok_uplata_detalj_TemeljnicaVrsta").text("Vrsta tem");
            $("#labela_obrok_uplata_detalj_TemeljnicaBroj").text("Broj tem");


        });
   

    </script>
