
<style type="text/css">
</style>

@*  <div id="menu">
       <ul id="nav" class="menu">
          <li id="navShow"><a href="#" class="parent"><span>&#9776;</span></a>
            <ul>
          		<li>@Html.ActionLink("Parametri glavne knjige", "Kriterij", "FinancijskoKnjigovodstvo")</li>
                <li>@Html.ActionLink("Kontni plan", "Kontniplan", "FinancijskoKnjigovodstvo")</li>
                <li>@Html.ActionLink("Temeljnica", "Temeljnica", "FinancijskoKnjigovodstvo")</li>
                <li>@Html.ActionLink("Ispisi", "Ispisi", "FinancijskoKnjigovodstvo")</li>
            </ul>
          </li>
    </ul>
</div>*@




<div id="menuizbornik">
    <ul id="navigacija">
          <li class="navigacijaShow"><a class="navigacijaShowIkona" href="#"><span>&#9776;</span></a>
            <div>
            <ul class="submenu">
           <li>@Html.ActionLink("Parametri glavne knjige", "Kriterij", "FinancijskoKnjigovodstvo")</li>
                <li>@Html.ActionLink("Kontni plan", "Kontniplan", "FinancijskoKnjigovodstvo")</li>
                <li>@Html.ActionLink("Temeljnica", "Temeljnica", "FinancijskoKnjigovodstvo")</li>
                <li>@Html.ActionLink("Ispisi", "Ispisi", "FinancijskoKnjigovodstvo")</li>
            </ul>
            </div>
        </li>
    </ul>
</div>


