@model InLine.UI.Web.T4.FormFormattedTemplate.View.TemeljnicaVrDetaljFormFormatted

 <style type="text/css">

 #Naziv { width:100%;}

</style>


 @{
    string prefixLabela = "labela_TemeljnicaVr_Detalj_";
 }
 

 @{
     string Akcija = @InLine.Model.Data.FieldString.View.TemeljnicaVr.TemeljnicaVrEntity + InLine.UI.Web.Helper.KeyWord.TipAkcija.Insert;
     string IDForma = @InLine.Model.Data.FieldString.View.TemeljnicaVr.TemeljnicaVrEntity + InLine.UI.Web.Helper.KeyWord.Forma.Rijec.Forma;
     string IDValutaPomoc = InLine.UI.Web.Helper.KeyWord.Forma.Rijec.ID_ValutaPomoc;
     string TemeljnicaVrIDValutaPomoc = @InLine.Model.Data.FieldString.View.TemeljnicaVr.TemeljnicaVrEntity + InLine.UI.Web.Helper.KeyWord.Forma.Rijec.ID_ValutaPomoc;
 
 }


 @using (Html.BeginForm(Akcija, @InLine.UI.Web.T4.ControllerName.ControllerName.FinancijskoKnjigovodstvo, FormMethod.Post, new { id = IDForma, @class = InLine.UI.Web.Helper.KeyWord.Forma.Rijec.FormClass }))
 {
    @Html.HiddenFor(model => model.ID_GlavnaKnjiga)
    @Html.HiddenFor(model => model.ID_TemeljnicaVr)
    @Html.HiddenFor(model => model.IDValuta)
    @Html.HiddenFor(model => model.Tecaj, new { @Value = "1" })

    @Html.ValidationSummary(true)


<table class ="TemeljnicaVrDetail @InLine.UI.Web.Helper.KeyWord.Forma.Rijec.FormBackground" width="100%" cellspacing="0" cellpadding="0" border="0" style="width:100%;">
   <tbody>

     <tr><td colspan='4'style="height:5px; background-color:#E7E7E7; padding-top: 2px; padding-bottom:2px; "></td></tr>
     
     <tr>
	    <td >@Html.LabelFor(model => model.Oznaka, new { id = @prefixLabela + @Html.NameFor(model => model.Oznaka) })</td>
        <td colspan="3">@Html.EditorFor(model => model.Oznaka)
           @Html.ValidationMessageFor(model => model.Oznaka) </td>				                
    </tr>

     <tr>
	    <td >@Html.LabelFor(model => model.Naziv, new { id = @prefixLabela + @Html.NameFor(model => model.Naziv) })</td>
        <td colspan="3">@Html.EditorFor(model => model.Naziv)
           @Html.ValidationMessageFor(model => model.Naziv) </td>				                
    </tr>

   <tr>
	    <td>@Html.LabelFor(model => model.NazivKr, new { id = @prefixLabela + @Html.NameFor(model => model.NazivKr) })</td>
        <td>@Html.EditorFor(model => model.NazivKr)
        @Html.ValidationMessageFor(model => model.NazivKr)</td>	
        <td>@Html.LabelFor(model => model.Kratica, new { id = @prefixLabela + @Html.NameFor(model => model.Kratica) })</td>
        <td>@Html.EditorFor(model => model.Kratica)
        @Html.ValidationMessageFor(model => model.Kratica)</td>								                
    </tr>

     <tr>
	    <td>@Html.LabelFor(model => model.IDValuta, new { id = @prefixLabela + @Html.NameFor(model => model.IDValuta) })</td>
        <td colspan="3">@Html.DropDownList(TemeljnicaVrIDValutaPomoc, (SelectList)ViewBag.IDValuta)
        @Html.ValidationMessageFor(model => model.IDValuta)</td>							                
    </tr>

     <tr>	
        <td>@Html.LabelFor(model => model.Opis, new { id = @prefixLabela + @Html.NameFor(model => model.Opis) })</td>
        <td colspan="3">@Html.TextAreaFor(model => Model.Opis)
        @Html.ValidationMessageFor(model => model.Opis)</td>								                
    </tr>

 
  </tbody>
</table>
<div>
<div id="poruka_TemeljnicaVr" ></div>
</div>

 }

  <script src="@Url.Content("~/Scripts/jquery.jqGrid.addons-4.4.1.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DecimalValidator.js")" type="text/javascript"></script>
      <script src="@Url.Content("~/Scripts/chosen.jquery.min.js")" type="text/javascript"></script>

    <script type="text/javascript">

        $(function () {
            $("#labela_TemeljnicaVr_Detalj_Oznaka").text("Broj");
            $("#labela_TemeljnicaVr_Detalj_NazivKr").text("Skraćeni naziv");
            $("#labela_TemeljnicaVr_Detalj_IDValuta").text("Valuta");
            $("#labela_TemeljnicaVr_Detalj_Opis").text("Napomena");
        });


    </script>

    
    <script type="text/javascript">

        $(document).ready(function () {

            var modelvaluta = '@Model.IDValuta';
            Dialozi.DropDownValutaSaPrefix("TemeljnicaVr", modelvaluta);

        });

        $(function () {
            Dialozi.PostaviValuta();
        });

     
    </script>


    <script type="text/javascript">
        function InsertEditSucces() {

        }

        function InsertEditError() {

        }


        function DeleteSucces() {

        }

        function DeleteError() {

        }

        function ProvjeraKodUnosa() {
            return true;
        }


    </script>
