@model InLine.UI.Web.Models.UserLoginModel

@{
    ViewBag.Title = "Prijava";
    Layout = null;
}
<script src="../../Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/Scripts/dPassword.js"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

<style type="text/css">
  body { background-color:#fbfbfb}  
#prijavacontainer{ width:960; height:800px; margin:0; padding:0;}
#prijavaform { width:960px; height:302px; margin-top:50px; margin-left:20px; float:none;}
#slika { width:330px; height:330px; float:left; background-image: url("../Content/Design/LogoPlaviWebLogin.png"); background-repeat:no-repeat; }
#slika:hover { background-image: url("../Content/Design/LogoMagentaiWebLogin.png"); background-repeat:no-repeat; }
#rborder{ width:10px; height:180px; border-right: 2px solid #ADABAB; float:left; margin-top:30px;}
#loginforma { width:200px; height:302px; float:left; margin:15px; padding-left:20px; padding-top:50px; font-family:Segoe UI; font-size:12px;}
.login { float:left; }
#Password { width:150px !important; height:21px !important;}
#loading { width:180px; height:40px; padding-top:30px; display:none;  padding-left:0px; }
.loadingt { font-family: Microsoft Sans Serif; padding-bottom:5px; font-size:12px; }
#statuslog {font-family: Microsoft Sans Serif; font-size:13px; color:Red; }
#statuslogcont { width:auto; height:40px; }
.errorMessage { color: red;  font-size:12px;}

</style>
<div id="statuslogcont">
<p id="statuslog">@ViewBag.poruka</p>
</div>
<div id="prijavacontainer">

    <div id="prijavaform">
    
    <div id="slika" onclick="location.href='http://www.fortius-info.hr';" style="cursor:pointer; "></div>
    <div id="rborder"></div>
          <div id="loginforma">
            @using (Html.BeginForm("LogOnParcijalni", "Home"))
            {   
             <div class="editor-field">
                @Html.LabelFor(m => m.Username, "Korisničko ime:")<br />
                @Html.TextBoxFor(m => m.Username)<br />
                <span class="errorMessage">
                @Html.ValidationMessageFor(m => m.Username)</span>
            </div>
            <br />
            <div class="editor-field">
                @Html.LabelFor(m => m.Password, "Lozinka:")<br />
                @Html.PasswordFor(m => m.Password)<br />
                <span class="errorMessage">
                @Html.ValidationMessageFor(m => m.Password)</span>
            </div>
                 <br />
            <p>
                <input class="login" type="submit" value="Nastavi" />
            </p>
   
            }
               <div id="loading">
               <span class="loadingt">Provjera korisničkih podataka....<br /></span><br /><img src="../../Content/design/ajax-loader.gif" /></div>
</div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#statuslog').delay(7000).fadeOut();

//        $('input:password').dPassword(
//        { duration: 2000,
//            interval: 1
//        });
    });


    $(".login").click(function () {

        $("#loading").show();
        if ($('#Password').text() != "" && $('#Username').text() != "") {
            $("#loading").show();
        }



    });
</script>
